pkgbase = dhs
	pkgver = 0.1.2
	pkgrel = 1
	url = https://dhs-suite.vercel.app
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	options = !debug
	source = dhs-0.1.2.tar.gz::https://github.com/Necta14/dhs/releases/download/v0.1.2/dhs-0.1.2-source.tar.gz
	sha256sums = 41987c8a19fcf09001ac5dc02bdae7d2f7ac4edf797121a7552aa9e4bec53cd6

pkgname = dhs-cli
	pkgdesc = Migrate a working environment between operating systems through a portable, encrypted package
	provides = dhs

pkgname = dhs-gui
	pkgdesc = GTK4 front end for DHS, the migration tool between operating systems
	arch = any
	depends = dhs-cli
	depends = python
	depends = python-gobject
	depends = glib2
	depends = gtk4
	depends = libadwaita
	depends = hicolor-icon-theme
