pkgbase = dhs
	pkgdesc = Migrate a working environment between operating systems through a portable, encrypted package
	pkgver = 0.1.0
	pkgrel = 1
	url = https://dhs-suite.vercel.app
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	source = dhs-0.1.0.tar.gz::https://github.com/Necta14/dhs/releases/download/v0.1.0/dhs-0.1.0-source.tar.gz
	sha256sums = dd5cb95af4669918d1ef364cfc50970bee81c14fbbe33f4f59301dca6599924b

pkgname = dhs
