pkgbase = dhs
	pkgver = 0.2.0
	pkgrel = 1
	url = https://dhs-suite.vercel.app
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	options = !debug
	source = dhs-0.2.0.tar.gz::https://github.com/Necta14/dhs/releases/download/v0.2.0/dhs-0.2.0-source.tar.gz
	sha256sums = 00253b2fd658723b2899b009f4078338a9f8dca41597a021f3cd96b13479b794

pkgname = dhs-cli
	pkgdesc = Migrate a working environment between operating systems through a portable, encrypted package
	provides = dhs

pkgname = dhs-gui
	pkgdesc = GTK4 front end for DHS, the migration tool between operating systems
	arch = any
	depends = dhs-cli
	depends = python
	depends = python-gobject
	depends = glib2
	depends = gtk4
	depends = libadwaita
	depends = hicolor-icon-theme
